.overlay {
  background-color: rgba(0, 0, 0, 0.85);

  color: aliceblue;
  text-shadow: 1px 1px 5px rgba(150, 150, 150, 1);
}

.title-city {
    font-size: 60px;
}

.bg-img {
  background-image: url("https://www.planwallpaper.com/static/images/i-should-buy-a-boat.jpg");
  background-size: cover;
  background-position: center;
}

app-weather-today {
  margin: 0 auto;
}

.row {
  width: 100%;
  display: flex;
}

.title-city {
  text-align: center;
  margin-bottom: 0;
}
.subtitle-time {
  text-align: center;
}
